<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PRÉVISIONS</ion-title>
  </ion-navbar>
    
  <ion-toolbar  class="Fmenu" color="secondary">
    <ul>
       <li [ngClass]="getFirstLiClass()" (click)="goToSlide(0); selected[0]=1"><span [innerHtml]="symbol[0]"></span><a>{{day[0]}}</a></li>
       <li [ngClass]="{active: selected[1]=='1'}" (click)="goToSlide(1); selected[1]=1"><span [innerHtml]="symbol[1]"></span><a>{{day[1]}}</a></li>
       <li [ngClass]="{active: selected[2]=='1'}" (click)="goToSlide(2); selected[2]=1"><span [innerHtml]="symbol[2]"></span><a>{{day[2]}}</a></li>
       <li [ngClass]="{active: selected[3]=='1'}" (click)="goToSlide(3); selected[3]=1"><span [innerHtml]="symbol[3]"></span><a>{{day[3]}}</a></li>
       <li [ngClass]="{active: selected[4]=='1'}" (click)="goToSlide(4); selected[4]=1"><span [innerHtml]="symbol[4]"></span><a>{{day[4]}}</a></li>
       <li [ngClass]="{active: selected[5]=='1'}" (click)="goToSlide(5); selected[5]=1"><span [innerHtml]="symbol[5]"></span><a>{{day[5]}}</a></li>
       <li [ngClass]="{active: selected[6]=='1'}" (click)="goToSlide(6); selected[6]=1"><span [innerHtml]="symbol[6]"></span><a>{{day[6]}}</a></li>
       <li [ngClass]="{active: selected[7]=='1'}" (click)="goToSlide(7); selected[7]=1"><span [innerHtml]="symbol[7]"></span><a>{{day[7]}}</a></li>
       <li [ngClass]="{active: selected[8]=='1'}" (click)="goToSlide(8); selected[8]=1"><span [innerHtml]="symbol[8]"></span><a>{{day[8]}}</a></li>
       <li [ngClass]="{active: selected[9]=='1'}" (click)="goToSlide(9); selected[9]=1"><span [innerHtml]="symbol[9]"></span><a>{{day[9]}}</a></li>
      </ul>
  </ion-toolbar>
  

</ion-header>
<ion-content padding>

<ion-slides #slides (ionSlideWillChange)="slideChanged()">
  <ion-slide>
    <table *ngFor="let item of weather.day0">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day1">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day2">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day3">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day4">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day5">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day6">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day7">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day8">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day9">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><span [style.color]="temp_colorize(item.temp)"><i class="wi wi-thermometer"></i> {{item.temp}}°C</span></td>
      </tr>
      <tr class="bottom">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
</ion-slides>
</ion-content>
