<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PRÉVISIONS</ion-title>
  </ion-navbar>
    
  <ion-toolbar  class="Fmenu" color="secondary">
    <ul>
       <li [ngClass]="getFirstLiClass()" (click)="goToSlide(0); selected0=1"><span [innerHtml]="symbol0"></span><a>{{day0}}</a></li>
       <li [ngClass]="{active: selected1=='1'}" (click)="goToSlide(1); selected1=1"><span [innerHtml]="symbol1"></span><a>{{day1}}</a></li>
       <li [ngClass]="{active: selected2=='1'}" (click)="goToSlide(2); selected2=1"><span [innerHtml]="symbol2"></span><a>{{day2}}</a></li>
       <li [ngClass]="{active: selected3=='1'}" (click)="goToSlide(3); selected3=1"><span [innerHtml]="symbol3"></span><a>{{day3}}</a></li>
       <li [ngClass]="{active: selected4=='1'}" (click)="goToSlide(4); selected4=1"><span [innerHtml]="symbol4"></span><a>{{day4}}</a></li>
       <li [ngClass]="{active: selected5=='1'}" (click)="goToSlide(5); selected5=1"><span [innerHtml]="symbol5"></span><a>{{day5}}</a></li>
       <li [ngClass]="{active: selected6=='1'}" (click)="goToSlide(6); selected6=1"><span [innerHtml]="symbol6"></span><a>{{day6}}</a></li>
       <li [ngClass]="{active: selected7=='1'}" (click)="goToSlide(7); selected7=1"><span [innerHtml]="symbol7"></span><a>{{day7}}</a></li>
       <li [ngClass]="{active: selected8=='1'}" (click)="goToSlide(8); selected8=1"><span [innerHtml]="symbol8"></span><a>{{day8}}</a></li>
       <li [ngClass]="{active: selected9=='1'}" (click)="goToSlide(9); selected9=1"><span [innerHtml]="symbol9"></span><a>{{day9}}</a></li>
      </ul>
  </ion-toolbar>
  

</ion-header>
<ion-content padding>

<ion-slides #slides (ionSlideWillChange)="slideChanged()">
  <ion-slide>
    <table *ngFor="let item of weather.day0">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day1">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day2">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day3">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day4">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day5">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day6">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day7">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day8">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
  <ion-slide>
    <table *ngFor="let item of weather.day9">
      <tr>
        <td style="width:25%">{{item.time}}</td>
        <td style="text-align:center"><img class="yricon" src="assets/imgs/yr/{{item.symbol}}.png"></td>
        <td style="width:25%;text-align:right"><i class="wi wi-thermometer"></i> {{item.temp}}°C</td>
      </tr>
      <tr style="background-color:#f2f2f2">
        <td style="width:25%">{{item.barometer}} hPa</td>
        <td style="text-align:center">{{item.wind}} km/h <i class="wi wi-wind from-{{item.windDirDeg}}-deg"></i></td>
        <td style="width:25%;text-align:right"><i class="wi wi-umbrella"></i> {{item.rain}} mm</td>
      </tr>
    </table>
  </ion-slide>
</ion-slides>
</ion-content>
