<ion-header>
<ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MÉTÉO CORRENS</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <div *ngIf = "!showOnline && showOffline">
      <div class="sonar-wrapper">
        <div class="sonar-closed">
        </div>
      </div>
    </div>
    
    <div *ngIf = "!showOnline && !showOffline">
      <div class="sonar-wrapper">
        <div class="sonar-wait">
        </div>
      </div>
    </div>
    
    <div *ngIf = "showOnline">
      <div class="sonar-wrapper">
        <div class="sonar-emitter">
          <div class="sonar-wave"></div>
        </div>
      </div>
    </div>
    <div class="texte">
      {{dateTime}}
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>

<ion-refresher (ionRefresh)="load($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Tirer pour mettre à jour"
    refreshingSpinner="circles"
    refreshingText="Mise à jour...">
  </ion-refresher-content>
</ion-refresher>

<ion-grid no-padding>
  <ion-row>
    <ion-col col-sm-12 col-md-3 col-lg-3>
      <ion-card>
        <ion-card-content>
          <div class="crd"> 
            <div class="crd-content">
              <!--
              <span class="weatherdata"><h4><i class="wi wi-sunrise"></i> {{weather.sunrise}}
                  <i class="wi wi-sunset"></i> {{weather.sunset}}
                  ({{weather.daytimeDiff}}) </h4></span> 
              -->                  
              <span class="weatherdata"><span [innerHtml]="symbol"></span></span>
              <span class="weatherdata"><h4> {{summary}}</h4></span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-12 col-md-3 col-lg-3>
      <ion-card>
        <ion-card-content>
          <div class="crd"> 
            <h4><i class="wi wi-thermometer"></i> Température extérieure</h4>
            <div class="crd-content">
              <span class="weatherdata"><span [innerHTML]="outTemp_C"></span></span>
              <br><span class="weatherdata_sub">Ressenti : <span [innerHTML]="appTemp_C"></span></span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
 
    <ion-col col-sm-12 col-md-3 col-lg-3>
      <ion-card>
        <ion-card-content>
          <div class="crd">
            <h4><i class="wi wi-humidity"></i> Humidité extérieure</h4>
            <div class="crd-content">
              <span class="weatherdata">{{outHumidity}}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-12 col-md-3 col-lg-3>
      <ion-card>
        <ion-card-content>
          <div class="crd">
            <h4><i class="wi wi-barometer"></i> Baromètre</h4>
            <div class="crd-content">
              <span class="weatherdata">{{barometer_mbar}}</span>
              <br><span class="weatherdata_sub">Tendance : {{weather.barometerTrendData}}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
 </ion-row>

 <ion-row>
    <ion-col col-sm-12 col-md-3 col-lg-3>
      <ion-card>
        <ion-card-content>
          <div class="crd">
            <h4><i class="wi wi-strong-wind"></i> Vent</h4>
            <div class="crd-content">
              <span class="weatherdata">{{windSpeed_kph}} - {{windCompass}}</span>
              <br><span class="weatherdata"><i class="{{weather.windIcon}}"></i> <span [innerHTML]="windDir"></span> </span>
              <br><span class="weatherdata_sub">Rafale : {{windGust_kph}}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
 
    <ion-col col-sm-12 col-md-3 col-lg-3>
      <ion-card>
        <ion-card-content>
          <div class="crd">
            <h4><i class="wi wi-umbrella"></i> Pluie</h4>
            <div class="crd-content">
              <span class="weatherdata">{{dayRain_cm}}</span>
              <br><span class="weatherdata_sub">Taux de pluie : {{rainRate_cm_per_hour}}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-12 col-md-3 col-lg-3>
        <ion-card>
          <ion-card-content>
            <div class="crd">
              <h4><i class="wi wi-fire"></i> Indice UV</h4>
              <div class="crd-content">
                <span class="weatherdata">{{UV}}</span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    <ion-col col-sm-12 col-md-3 col-lg-3>
        <ion-card>
          <ion-card-content>
            <div class="crd">
              <h4><i class="wi wi-thermometer-exterior"></i> Point de rosée</h4>
              <div class="crd-content">
                <span class="weatherdata"><span [innerHTML]="dewpoint_C"></span></span>
                <br>{{connectStatus}}
                <div class="hidden-xs hidden-sm">
                <span class="weatherdata_sub">blablalba..</span>
                </div>
              
              </div>
            </div>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
  


</ion-grid>

</ion-content>
