page-home {
  
    .card {
        min-height: 95%;
        
      }

      .sonar-wrapper {
        position: absolute;
        width: 60px;
        height: 50px;
        top: 0px;
        left: 0x;
        padding-top: 4px;
        padding-bottom: auto;
        padding-left: 8px;
        z-index: 5000;
        overflow: hidden;
      }
      
      /* The circle */
      .sonar-emitter {
        position: relative;
        margin: 20px 10px;
        width: 8px;
        height: 8px;
        border-radius: 9999px;
        background-color: #2bd12b;
      }

      .sonar-wait {
        position: relative;
        margin: 20px 10px;
        width: 8px;
        height: 8px;
        border-radius: 9999px;
        background-color: #ffae00;
      }

      .sonar-closed {
        position: relative;
        margin: 20px 10px;
        width: 8px;
        height: 8px;
        border-radius: 9999px;
        background-color: #ff0000;
      }
      
      /* the 'wave', same shape and size as its parent */
      .sonar-wave {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        background-color: #2bd12b;
        opacity: 0;
        z-index: 5000;
        pointer-events: none;
      }
      
      /*
        Animate!
        NOTE: add browser prefixes where needed.
      */
      .sonar-wave {
        animation: sonarWave 2s linear infinite;
      }
      
      @keyframes sonarWave {
        from {
          opacity: 0.4;
        }
        to {
          transform: scale(10);
          opacity: 0;
        }
      }
      .texte {
        color: white;
        text-transform: uppercase;
        font-size:1.7rem;
        font-weight: bold;
        padding-top: auto;
        padding-bottom: auto;
        padding-left: 36px;
      } 

      .dkIcon img{
        margin-left: auto;
        margin-right: auto;
         max-height: 120px;
         max-width: 120px;
         width:100%;
       }

       /* Compass from belchertown style.css */
       .compass {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: relative;
        color: #555;
        border: solid #808080 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .compass:before {
        font-weight: bold;
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 14px;
        top: -2px;
    }
      
    .direction {
        height: 100%;
        width: 100%;
        display: block;
        /* background: #f2f6f5; */
        /* background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%); */
        /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6)); */
        /* background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%); */
        /* background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%); */
        border-radius: 100%;
    }
    
    .direction .curwinddir {
        font-size: 25px;
        margin-top: 10px;
        display: block;
    }
    .direction .curwinddeg {
        font-size: 21px;
    }
    
    .arrow {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        transition: -webkit-transform 1s ease-in;
    }
    .arrow:after {
        content: "";
        width: 0;
        height: 0;
        /* border-left: 5px solid transparent; */
        /* border-right: 5px solid transparent; */
        /* border-bottom: 10px solid red; */
        /* top: -6px; */
        /* left: 50%; */
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        /* border-bottom: 21px solid red; */
        border-top: 21px solid red;
        position: absolute;
        top: -10px;
        left: 38px;
        /* margin-left: -5px; */
        z-index: 99;
    }

    .summary {
      position: relative;
      left: -5px;
      margin-top: 25px;
      margin-bottom: auto;
     }

     .weatherdataTemp {
      width:100%;
      display:inline-block;
      text-align:center;
      font-size:45px;
     }

     .outtempunitlabelsuper {
      top:-1.0em;
      font-size:50%;
    }

      
}
