<ion-header>
<ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MÉTÉO CORRENS</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <div *ngIf = "!live['showOnline'] && live['showOffline']">
      <div class="sonar-wrapper">
        <div class="sonar-closed">
        </div>
      </div>
    </div>
    
    <div *ngIf = "!live['showOnline'] && !live['showOffline']">
      <div class="sonar-wrapper">
        <div class="sonar-wait">
        </div>
      </div>
    </div>
    
    <div *ngIf = "live['showOnline']">
      <div class="sonar-wrapper">
        <div class="sonar-emitter">
          <div class="sonar-wave"></div>
        </div>
      </div>
    </div>
    <div class="texte">
      {{live['dateTime']}}
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid *ngIf="alerts" no-padding>
    <ion-row>
      <ion-col col-sm-12 col-md-12 col-lg-12>
        <ion-card *ngIf="showAlerts==='true'" >
          <ion-card-content>
            <div class="crd">
              <div class="crd-content">
                <table>
                  <tr *ngFor="let item of summaries['alerts']">
                    <td>
                      <h2 [style.color]="alertsColorize(item.title)"><fa-icon [icon]="iconAlert" pull="left" ></fa-icon>
                        {{item.title}}</h2>
                        Bulletin émis <span [innerHTML]="momentAlerts(item.time,'from')"></span>, valable jusqu'au <span [innerHTML]="momentAlerts(item.expires,'to')">.</span>
                    </td>
                    <td>
                      <!-- empty -->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- empty -->
                    </td>
                    <td style="text-align:right">
                      <button class="alertsButton" icon-only (click)="toggleAlerts()">
                        <fa-icon [icon]="iconUp" size="2x"></fa-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
    
        <ion-card *ngIf="showAlerts==='false'">
          <ion-card-content>
            <div class="crd">
              <table>
                <tr>
                  <td>
                    <h2 [style.color]="danger"><fa-icon [icon]="iconAlert" pull="left"></fa-icon>
                      Des vigilances sont en cours.
                    </h2>
                  </td>
                  <td style="text-align:right">
                    <button class="alertsButton" icon-only (click)="toggleAlerts()">
                      <fa-icon [icon]="iconDown" size="2x"></fa-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> <!-- if Alerts -->

<ion-grid no-padding>
  <ion-row>
    <ion-col col-sm-12 col-md-6 col-lg-4>
      <ion-card style="min-width: 224px;">
        <ion-card-content>
          <div class="crd"> 
            <div class="crd-content">
              <!--
              <span class="weatherdata"><h4><i class="wi wi-sunrise"></i> {{weather.sunrise}}
                  <i class="wi wi-sunset"></i> {{weather.sunset}}
                  ({{weather.daytimeDiff}}) </h4></span> 
              -->     
              <div class="summary">          
              <table>
                <tr>
                  <td>
                    <span class="dkIcon" [innerHTML]="summaries['icon']"></span>
                    <span class="weatherdata"><h4> {{summaries['currentText']}}</h4></span>
                  </td>
                  <td style="min-width: 135px;">
                    <span class="weatherdataTemp" [innerHTML]="live['outTemp_C']" [style.color]="live['outTempColor']"></span>
                    <br><span class="weatherdata_sub" [innerHTML]="live['appTemp_C']"></span>
                    <table>
                    <tr>
                      <td><span class="weatherdata_sub"><br>Maxi<br><span [innerHTML]="summaries['dayOutTempMax']"></span></span></td>
                      <td><span class="weatherdata_sub"><br>Mini<br><span [innerHTML]="summaries['dayOutTempMin']"></span></span></td>
                    </tr>
                    </table>
                  </td>
                </tr>
              </table>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-12 col-md-6 col-lg-4>
      <ion-card>
        <ion-card-content>
          <div class="crd">
            <div class="crd-content">
              <div class="compass">
                <div class="direction">
                  <span class="curwinddir">{{live['windCompass']}}</span>
                  <span class="curwinddeg" [innerHTML]="live['windDir']"></span>
                </div>
                <div class="arrow" [style.transform]="live['windArrow']"></div>
              </div>
              <br>
              <span class="weatherdata"><i class="wi wi-strong-wind"></i> {{live['windSpeed_kph']}}</span>
              <br><span class="weatherdata_sub">Rafale : {{live['windGust_kph']}}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-12 col-md-12 col-lg-4>
      <ion-card>
        <ion-card-content>
          <table>
            <tr>
              <td><h2> Baromètre</h2></td>
              <td><span class="weatherdata_sub">{{live['barometer_mbar']}}</span>
                <!-- <br><span class="weatherdata_sub">Tendance : {{weather.barometerTrendData}}</span> -->
              </td>
            </tr>
            <tr>
              <td><h2>Visibilité</h2></td>
              <td><span class="weatherdata_sub">{{summaries['visibility']}}</span></td>
            </tr>
            <tr>
              <td><h2>Base nuage</h2></td>
              <td><span class="weatherdata_sub">{{live['cloudbase']}}</span></td>
            </tr>
            <tr>
              <td><h2>Point de rosée</h2></td>
              <td><span class="weatherdata_sub" [innerHTML]="live['dewpoint_C']"></span></td>
            </tr>
            <tr>
              <td><h2>Humidité</h2></td>
              <td><span class="weatherdata_sub">{{live['outHumidity']}}</span></td>
            </tr>
            <tr>
              <td><h2>Pluie</h2></td>
              <td><span class="weatherdata_sub">{{live['dayRain_cm']}}</span></td>
            </tr>
            <tr>
              <td></td>
              <td><span class="weatherdata_sub">{{live['rainRate_cm_per_hour']}}</span></td>
            </tr>
            <tr>
              <td><h2>Indice UV</h2></td>
              <td><span class="weatherdata_sub"> {{live['UV']}}</span></td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-12 col-md-12 col-lg-6>
      <ion-card>
        <ion-card-content>
          <div class="crd">
            <div class="crd-content">
              <h1>{{summaries['dateToday']}}</h1>
              <table>
                <tr>
                    <td><b>Maxi</b></td>
                    <td><span [innerHTML]="summaries['dayOutTempMax']"></span></td>
                    <td><b>Mini</b></td>
                    <td><span [innerHTML]="summaries['dayOutTempMin']"></span></td>
                </tr>
                <tr>
                    <td><b>Vent moy.</b></td>
                    <td><span [innerHTML]="summaries['dayWindAvg']"></span></td>
                    <td><b>Vent Max</b></td>
                    <td><span [innerHTML]="summaries['dayWindMax']"></span></td>
                </tr>
                <tr>
                    <td><b>Pluie jour</b></td>
                    <td><span [innerHTML]="summaries['dayRainSum']"></span></td>
                    <td><b>Taux maxi</b></td>
                    <td><span [innerHTML]="summaries['dayRainRateMax']"></span></td>
                </tr>
            </table>
    
          </div>
        </div>
    
          <!--
          <div class="crd">
            <div class="crd-content">
              <div class="hidden-xs hidden-sm">
              <span class="weatherdata_sub">blablalba..</span>
              </div>
            </div>
          </div>
        -->
    
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-12 col-md-12 col-lg-6>
      <ion-card>
        <ion-card-content>
          <div class="crd">
            <div class="crd-content">
              <h1>{{summaries['dateMonth']}}</h1>
              <table>
                <tr>
                    <td><b>Maxi</b></td>
                    <td><span [innerHTML]="summaries['monthOutTempMax']"></span></td>
                    <td><b>Mini</b></td>
                    <td><span [innerHTML]="summaries['monthOutTempMin']"></span></td>
                </tr>
                <tr>
                    <td><b>Vent moy.</b></td>
                    <td><span [innerHTML]="summaries['monthWindAvg']"></span></td>
                    <td><b>Vent max</b></td>
                    <td><span [innerHTML]="summaries['monthWindMax']"></span></td>
                </tr>
                <tr>
                    <td><b>Pluie total</b></td>
                    <td><span [innerHTML]="summaries['monthRainSum']"></span></td>
                    <td><b>Taux maxi</b></td>
                    <td><span [innerHTML]="summaries['monthRainRateMax']"></span></td>
                </tr>
            </table>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
